.iniciaSesion{
    color: white;
    padding: 20px;
 }
 
 .tramite{
     margin-left: 700%;
 }
 
 
 .tituloArt{
     margin-left: 6%;
 }
 .imagen{
     transition: transform 0.5s ease;
 }

 .card{
     transition: transform 0.5s ease;
 }
 .card img{
    width: 200px;
 }
 .card:hover{
     transform: scale(1.1);
     background-color:white;
 }
 
   .container{
     margin: 0;
     padding: 0;
     position: relative;
     max-width: 100%;
    
 }
 
 .titulo {
     color: black;
     font-size: 50px;
     padding-left: 20px;
 }
 
 .texto {
     color: black;
     font-size: 20px;
     padding-left: 20px;
 }
 
 .info {
     text-align: left;
     margin-left: 10%;
     margin-right: 10%;
     max-width: 40%;
 }
 
 .btnSalir{
     border-radius: 25px;
     border: none;
     height: 40px;
     width: 20%;
     margin-top: 40px;
 }
   
 